/* Dark Theme Colors */
$neutral-0: #FFFFFF;
$neutral-500: #949497;
$neutral-700: #626264;
$neutral-900: #1A1A1C;

$dark-overlay-8: #2B2B2E;

$primary-500: #846bda;

/* Light Theme Colors */
$white-1: #FFFFFF;
$white-2: #F8F8F8;

$black-1: #232323;

$grey-2: #B4B4B7;
$grey-3: #949497;

$blue-1: #1274CF;
