@use 'colors' as *;

html[data-theme="dark"] {
  --background-color: #{$neutral-900};
  --color: #{$neutral-0};

  --primary-color: #{$primary-500};
  --secondary-color: #{$neutral-500};

  --card-background-color: #{$dark-overlay-8};
  --card-border-color: #{$neutral-700};
}

html[data-theme="light"] {
  --background-color: #{$white-2};
  --color: #{$black-1};

  --primary-color: #{$blue-1};
  --secondary-color: #{$grey-3};

  --card-background-color: #{$white-1};
  --card-border-color: #{$grey-2};
}